.navbar-brand {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
}

.symbol {
      font-size: 0.7rem;
      margin-left: -5px;
      margin-top: -5px;
}

.jumbotron {
      background-color: skyblue;
      padding-top: 6rem;
}

#about {
      background-color: #FFFF4D;
}

#project {
      background-color: #1E90FF;
}

#contact {
      background-color: #e2edff;
}

section {
      padding-top: 5rem;
}

.gallery-img {
      width: 100%;
}

.gallery-img-container {
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;
}

.gallery-img-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

#gallery .row>* {
      padding: 0;
}

